body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* *esta es una opción para ocultar scroll */
    overflow: hidden;
}

/* *la otra opción es la sgte */
/* canvas {
    position: fixed;
} */

/* *agrego fuente matrix, 1ero nombre, luego direccion de fuente. */
/* *Luego uso ese nombre en el js */
@font-face {
    font-family: matrix-code-font;
    src: url("./matrix-font.ttf");
  }